<div class="content_wrapper">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <aside>
                    <header><i class="fa fa-fw fa-home"></i>工作台</header>
                    <section>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">
                                    {% if message %}
                                        <div class="alert alert-warning">
                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                            {{ message }}
                                            <form id="uploadForm" enctype="multipart/form-data">
                                                <input id="file" type="file" name="file"/>
                                                <button id="upload" class="btn btn-info btn-sm" type="button">上传激活文件</button>
                                            </form>
                                        </div>
                                    {% endif %}
                                    <div class="my_panel">
                                        <div class="heading">欢迎信息</div>
                                        <div class="body">您好：{{ current_user.fullname }}！当前系统为<strong>{{ info.stat }}</strong></div>
                                    </div>
                                    <div class="my_panel">
                                        <div class="heading">系统信息</div>
                                        <div class="body">
                                            <table class="table table-striped">
                                                <tbody>
                                                <tr>
                                                    <td width="200">软件版本</td>
                                                    <td>v1.2.1</td>
                                                </tr>
                                                <tr>
                                                    <td>操作系统</td>
                                                    <td>{{ info.platform }}</td>
                                                </tr>
                                                <tr>
                                                    <td>系统架构</td>
                                                    <td>{{ info.machine }}</td>
                                                </tr>
                                                <tr>
                                                    <td>内存占用</td>
                                                    <td>{{ info.memory }}%</td>
                                                </tr>
                                                <tr>
                                                    <td>磁盘占用</td>
                                                    <td>{{ info.disk }}%</td>
                                                </tr>
                                                <tr>
                                                    <td>系统启动时间</td>
                                                    <td>{{ info.boot_time }}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="my_panel">
                                        <div class="heading">运行状态</div>
                                        <div class="body" style="height: 510px">
                                             <div id="chart1" style="height:500px;width:49%;border:1px solid #ccc;padding:2px;float: left"></div>
                                             <div id="chart2" style="height:500px;width:49%;border:1px solid #ccc;padding:2px;float: right"></div>
                                        </div>
                                    </div>
                                    <div class="my_panel">
                                        <div class="heading">开发团队</div>
                                        <div class="body">
                                            <table class="table table-striped">
                                                <tbody>
                                                <tr>
                                                    <td width="200">创建者</td>
                                                    <td>Bear Chao</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </aside>
            </div>
        </div>
    </div>

</div>
<script>
$("#upload").click(function(){
  $.ajax({
        url: '{{ url_for('main.uploadkey') }}',
        type: 'POST',
        cache: false,
        data: new FormData($('#uploadForm')[0]),
        processData: false,
        contentType: false
    }).done(function(res) {
        alert(res)
    }).fail(function(res) {
        alert(res)
    });
});

var date = [];
var data =[];
var data2 = [];

var myChart = echarts.init(document.getElementById('chart1'));
var chart2 = echarts.init(document.getElementById('chart2'));
// 基于准备好的dom，初始化echarts实例

var now = new Date();
date.push(now.toLocaleTimeString());
data.push(0);
data2.push(0);

// 指定图表的配置项和数据
var option = {
    title: {
        text: 'CPU占用'
    },
    tooltip: {},

    xAxis: {
        data: date
    },
    yAxis: {},
    series: [{
        name: 'cpu',
        type: 'line',
        data: data
    }]
};
var option2 = {
    title: {
        text: '内存占用'
    },
    tooltip: {},

    xAxis: {
        data: date
    },
    yAxis: {},
    series: [{
        name: '模拟数据',
        type: 'line',
        data: data2
    }]
};

 // 使用刚指定的配置项和数据显示图表。
  myChart.setOption(option);
  chart2.setOption(option2);

    // 异步更新数据 （以后，定时post，取回1个数据）
    var timeTicket = setInterval(function () {
        $.post('/info').done(function (d) {
            time = new Date();
            date.push(time.toLocaleTimeString());
            if (data.length > 100){
                date.shift();
                data.shift();
                data2.shift();
            }
            data.push(d.cpu);
            data2.push(d.mem);
            myChart.setOption({
                xAxis:{
                    data:date
                },
                series:[{
                data: data
                }]
            });
            chart2.setOption({
                xAxis:{
                    data:date
                },
                series:[{
                data: data2
                }]
            });
        });
    }, 3000);
</script>