<div class="content_wrapper">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <aside>
                    <header><i class="fa fa-fw fa-file"></i>网卡IP配置</header>
                    <section>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">
                                    <form class="form-horizontal" role="form" method="post" action="{{ url_for('func.ipconfig') }}">
                                        <div class="form-group">
                                                <div class="col-sm-10">
                                                    <input type="hidden" name="device" value="eth1">
                                                    <label class="col-sm-2 control-label">eth1</label>
                                                    <div class="col-sm-4">
                                                         <input type="text" class="form-control" placeholder="IP地址" name="ip" />
                                                    </div>
                                                    <p class="col-sm-6 help-block">IP地址</p>
                                                    <br/><br/>
                                                    <label class="col-sm-2 control-label"> </label>
                                                    <div class="col-sm-4">
                                                         <input type="text" class="form-control" placeholder="子网掩码" name="mask">
                                                    </div>
                                                    <p class="col-sm-6 help-block">子网掩码</p>
                                                    <br/><br/>
                                                    <label class="col-sm-2 control-label"> </label>
                                                    <div class="col-sm-4">
                                                         <input type="text" class="form-control" placeholder="网关地址" name="gateway">
                                                    </div>
                                                    <p class="col-sm-6 help-block">网关地址</p>
                                                    <div class=" col-sm-12">
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <button type="button" class="btn btn-primary J_ajaxSubmitBtn" style="margin-top: 40px">提交</button>
                                                </div>
                                        </div>
                                        <hr/>
                                    </form>
                                    <form class="form-horizontal" role="form" method="post" action="{{ url_for('func.ipconfig') }}">
                                        <div class="form-group">
                                                <div class="col-sm-10">
                                                    <input type="hidden" name="device" value="eth2">
                                                    <label class="col-sm-2 control-label">eth2</label>
                                                    <div class="col-sm-4">
                                                         <input type="text" class="form-control" placeholder="IP地址" name="ip">
                                                    </div>
                                                    <p class="col-sm-6 help-block">IP地址</p>
                                                    <br/><br/>
                                                    <label class="col-sm-2 control-label"> </label>
                                                    <div class="col-sm-4">
                                                         <input type="text" class="form-control" placeholder="子网掩码" name="mask">
                                                    </div>
                                                    <p class="col-sm-6 help-block">子网掩码</p>
                                                    <br/><br/>
                                                    <label class="col-sm-2 control-label"> </label>
                                                    <div class="col-sm-4">
                                                         <input type="text" class="form-control" placeholder="网关地址" name="gateway">
                                                    </div>
                                                    <p class="col-sm-6 help-block">网关地址</p>
                                                    <div class=" col-sm-12">
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <button type="button" class="btn btn-primary J_ajaxSubmitBtn" style="margin-top: 40px">提交</button>
                                                </div>
                                        </div>
                                        <hr/>
                                    </form>
                                    <form class="form-horizontal" role="form" method="post" action="{{ url_for('func.ipconfig') }}">
                                        <div class="form-group">
                                                <div class="col-sm-10">
                                                    <input type="hidden" name="device" value="eth3">
                                                    <label class="col-sm-2 control-label">eth3</label>
                                                    <div class="col-sm-4">
                                                         <input type="text" class="form-control" placeholder="IP地址" name="ip">
                                                    </div>
                                                    <p class="col-sm-6 help-block">IP地址</p>
                                                    <br/><br/>
                                                    <label class="col-sm-2 control-label"> </label>
                                                    <div class="col-sm-4">
                                                         <input type="text" class="form-control" placeholder="子网掩码" name="mask">
                                                    </div>
                                                    <p class="col-sm-6 help-block">子网掩码</p>
                                                    <br/><br/>
                                                    <label class="col-sm-2 control-label"> </label>
                                                    <div class="col-sm-4">
                                                         <input type="text" class="form-control" placeholder="网关地址" name="gateway">
                                                    </div>
                                                    <p class="col-sm-6 help-block">网关地址</p>
                                                    <div class=" col-sm-12">
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <button type="button" class="btn btn-primary J_ajaxSubmitBtn" style="margin-top: 40px">提交</button>
                                                </div>
                                        </div>
                                        <hr/>
                                    </form>
                                    <form class="form-horizontal" role="form" method="post" action="{{ url_for('func.ipconfig') }}">
                                        <div class="form-group">
                                                <div class="col-sm-10">
                                                    <input type="hidden" name="device" value="eth4">
                                                    <label class="col-sm-2 control-label">eth4</label>
                                                    <div class="col-sm-4">
                                                         <input type="text" class="form-control" placeholder="IP地址" name="ip">
                                                    </div>
                                                    <p class="col-sm-6 help-block">IP地址</p>
                                                    <br/><br/>
                                                    <label class="col-sm-2 control-label"> </label>
                                                    <div class="col-sm-4">
                                                         <input type="text" class="form-control" placeholder="子网掩码" name="mask">
                                                    </div>
                                                    <p class="col-sm-6 help-block">子网掩码</p>
                                                    <br/><br/>
                                                    <label class="col-sm-2 control-label"> </label>
                                                    <div class="col-sm-4">
                                                         <input type="text" class="form-control" placeholder="网关地址" name="gateway">
                                                    </div>
                                                    <p class="col-sm-6 help-block">网关地址</p>
                                                    <div class=" col-sm-12">
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <button type="button" class="btn btn-primary J_ajaxSubmitBtn" style="margin-top: 40px">提交</button>
                                                </div>
                                        </div>
                                        <hr/>
                                    </form>
                                    <form class="form-horizontal" role="form" method="post" action="{{ url_for('func.ipconfig') }}">
                                        <div class="form-group">
                                                <div class="col-sm-10">
                                                    <input type="hidden" name="device" value="eth5">
                                                    <label class="col-sm-2 control-label">eth5</label>
                                                    <div class="col-sm-4">
                                                         <input type="text" class="form-control" placeholder="IP地址" name="ip">
                                                    </div>
                                                    <p class="col-sm-6 help-block">IP地址</p>
                                                    <br/><br/>
                                                    <label class="col-sm-2 control-label"> </label>
                                                    <div class="col-sm-4">
                                                         <input type="text" class="form-control" placeholder="子网掩码" name="mask">
                                                    </div>
                                                    <p class="col-sm-6 help-block">子网掩码</p>
                                                    <br/><br/>
                                                    <label class="col-sm-2 control-label"> </label>
                                                    <div class="col-sm-4">
                                                         <input type="text" class="form-control" placeholder="网关地址" name="gateway">
                                                    </div>
                                                    <p class="col-sm-6 help-block">网关地址</p>
                                                    <div class=" col-sm-12">
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <button type="button" class="btn btn-primary J_ajaxSubmitBtn" style="margin-top: 40px">提交</button>
                                                </div>
                                        </div>
                                        <hr/>
                                    </form>
                                    <form class="form-horizontal" role="form" method="post" action="{{ url_for('func.ipconfig') }}">
                                        <div class="form-group">
                                                <div class="col-sm-10">
                                                    <input type="hidden" name="device" value="eth1">
                                                    <label class="col-sm-2 control-label">eth1</label>
                                                    <div class="col-sm-4">
                                                         <input type="text" class="form-control" placeholder="IP地址" name="ip">
                                                    </div>
                                                    <p class="col-sm-6 help-block">IP地址</p>
                                                    <br/><br/>
                                                    <label class="col-sm-2 control-label"> </label>
                                                    <div class="col-sm-4">
                                                         <input type="text" class="form-control" placeholder="子网掩码" name="mask">
                                                    </div>
                                                    <p class="col-sm-6 help-block">子网掩码</p>
                                                    <br/><br/>
                                                    <label class="col-sm-2 control-label"> </label>
                                                    <div class="col-sm-4">
                                                         <input type="text" class="form-control" placeholder="网关地址" name="gateway">
                                                    </div>
                                                    <p class="col-sm-6 help-block">网关地址</p>
                                                    <div class=" col-sm-12">
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <button type="button" class="btn btn-primary J_ajaxSubmitBtn" style="margin-top: 40px">提交</button>
                                                </div>
                                        </div>
                                        <hr/>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                </aside>
            </div>
        </div>
    </div>

</div>

{##}
{#<script>#}
{#    function validate1($from) {#}
{#        var pid = $from.find('select[name="pid"]');#}
{#        if (pid.val() == 0) {#}
{#            return '请选择分类';#}
{#        }#}
{##}
{#        return true;#}
{#    }#}
{#    function callback1(returnData, $from) {#}
{#        console.log($from);#}
{#    }#}
{#    function validate2($from) {#}
{#        var title = $from.find('input[name="title"]');#}
{#        if ($.trim(title.val()) == '') {#}
{#            return '新闻标题不能为空';#}
{#        }#}
{##}
{#        return true;#}
{#    }#}
{#</script>#}