<div class="content_wrapper">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <aside>
                    <header><i class="fa fa-fw fa-list-ul"></i>任务列表</header>
                    <section>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                       {% if form %}
                                        <table id="example" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                                            <thead>
                                            <tr>
                                                <th width="60">任务代码</th>
                                                <th width="80">任务类型</th>
                                                <th>描述</th>
                                                <th >job数量</th>
                                                <th width="80">运行次数</th>
                                                <th >操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            {% for row in form.content %}
                                            <tr>
                                                <td>{{ row.finger }}</td>
                                                <td>{{ row.dataType }}</td>
                                                <td>{{ row.name }}</td>
                                                <td>
{#                                                一个小hack，解决jinja变量作用域问题，实现计数#}
                                                {% set num = [] %}
                                                {% for job in arg %}
                                                    {% set comment = job.comment|int %}
                                                    {% if comment == row.finger %}
                                                       {% if num.append(0) %}{% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                                {% if num|length == 0 %}
                                                    <span class="label label-default">{{ num|length }}</span>
                                                {% else %}
                                                    <span class="label label-info">{{ num|length }}</span>
                                                    <button type="button" class="btn btn-link" onclick="loadURL('{{ url_for('func.jobDetail',finger = row.finger) }}')">查看job详情</button>
                                                {% endif %}
                                                </td>
                                                <td><label class="badge">{{ row.count }}</label></td>
                                                <td>
                                                    <button class="btn btn-default btn-xs J_ajax_content_modal" data-href="{{ url_for('func.newJob',finger = row.finger) }}">日志</button>
                                                    <button class="btn btn-info btn-xs J_ajax_content_modal" data-href="{{ url_for('func.newJob',finger = row.finger) }}">创建job</button>
                                                    <button type="button" class="btn btn-warning btn-xs J_confirm_modal " data-tip="将要删除该任务的全部job，是否操作？" data-target="{{ url_for('func.deleteTask',finger = row.finger) }}">删除所有job</button>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    {% endif %}
                                    </div>
                                    <nav>
                                        {% if form %}
                                        <ul class="pagination">
                                            <li class="disabled"><a href="#">共{{ form.total_count }}条</a></li>
                                            {% if form.page <= 1 %}
                                                <li class="disabled"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                            {% else %}
                                                <li><a href="javascript:void(0);" onclick="loadURL('{{ url_for('func.task_jobs') }}?page={{form.page - 1}}')"><i class="fa fa-angle-left"></i></a></li>
                                            {% endif %}
                                            {% for i in range(1, form.total_page + 1) %}
                                                {% if i == form.page %}
                                                    <li class="active"><a href="javascript:void(0);" onclick="loadURL('{{ url_for('func.task_jobs') }}?page={{i}}')">{{ i }}</a></li>
                                                {% endif %}
                                                {% if i!=form.page %}
                                                    <li><a href="javascript:void(0);" onclick="loadURL('{{ url_for('func.task_jobs') }}?page={{i}}')"> {{ i }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                            {% if form.page == form.total_count %}
                                                 <li class="disabled"><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                            {% else %}
                                            <li><a href="javascript:void(0);" onclick="loadURL('{{ url_for('func.taskList') }}?page={{form.page + 1}}')"><i class="fa fa-angle-right"></i></a></li>
                                            {% endif %}
                                        {% endif %}
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </section>
                </aside>
            </div>
        </div>
    </div>

</div>