<div class="content_wrapper">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <aside>
                    <header><i class="fa fa-fw fa-file"></i>选择日期</header>
                    <section>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="my_panel">
                                        <div class="row">
                                            <label class="col-lg-2">清空Web日志</label>
                                            <button class="btn btn-danger btn-sm">清除</button>
                                        </div>
                                        <div class="row" style="margin-top: 20px">
                                            <div class="col-md-2">
                                                <label>清除任务日志</label>
                                            </div>
                                           <div class="btn-group " role="group" aria-label="...">
                                              <button type="button" class="btn btn-info">最早1天</button>
                                              <button type="button" class="btn btn-warning">最早5天</button>
                                              <button type="button" class="btn btn-danger">全部</button>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 20px">
                                            <div class="col-md-2">
                                                <label>清除传输日志</label>
                                            </div>
                                           <div class="btn-group " role="group" aria-label="...">
                                              <button type="button" class="btn btn-info">最早1天</button>
                                              <button type="button" class="btn btn-warning">最早5天</button>
                                              <button type="button" class="btn btn-danger">全部</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </aside>
            </div>
        </div>
    </div>

</div>