<div class="content_wrapper">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <aside>
                    <header><i class="fa fa-fw fa-remove"></i>清除日志</header>
                    <section>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="my_panel">
                                        <div class="row">
                                            <label class="col-lg-2">清空Web日志</label>
                                            <button class="btn btn-danger btn-sm J_confirm_modal" data-target="{{ url_for('main.log_delete',type = 1) }}" data-tip="将要清空web访问日志，确定吗？">清除</button>
                                        </div>
                                        <div class="row" style="margin-top: 20px">
                                            <div class="col-md-2">
                                                <label>清除任务日志</label>
                                            </div>
                                           <div class="btn-group " role="group" aria-label="...">
                                               <button type="button" class="btn btn-sm btn-default J_confirm_modal" data-target="{{ url_for('main.log_delete',type = 2, num = 1) }}" data-tip="将要删除最早1天的日志，确定吗？">最早1天</button>
                                               <button type="button" class="btn btn-sm btn-default J_confirm_modal" data-target="{{ url_for('main.log_delete',type = 2, num = 5) }}" data-tip="将要删除最早5天的日志，确定吗？">最早5天</button>
                                               <button type="button" class="btn btn-sm btn-default J_confirm_modal" data-target="{{ url_for('main.log_delete',type = 2, num = 30) }}" data-tip="将要删除最早30天的日志，确定吗？">最早30天</button>
                                               <button type="button" class="btn btn-sm btn-danger J_confirm_modal"  data-target="{{ url_for('main.log_delete',type = 2, num = 1000) }}" data-tip="将要删除全部日志，确定吗？">全部</button>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 20px">
                                            <div class="col-md-2">
                                                <label>清除传输日志</label>
                                            </div>
                                           <div class="btn-group " role="group" aria-label=".`..">
                                               <button type="button" class="btn btn-sm btn-default J_confirm_modal" data-target="{{ url_for('main.log_delete',type = 3, num = 1) }}" data-tip="将要删除最早1天的日志，确定吗？">最早1天</button>
                                               <button type="button" class="btn btn-sm btn-default J_confirm_modal" data-target="{{ url_for('main.log_delete',type = 3, num = 5) }}" data-tip="将要删除最早5天的日志，确定吗？">最早5天</button>
                                               <button type="button" class="btn btn-sm btn-default J_confirm_modal" data-target="{{ url_for('main.log_delete',type = 3, num = 30) }}" data-tip="将要删除最早30天的日志，确定吗？">最早30天</button>
                                               <button type="button" class="btn btn-sm btn-danger J_confirm_modal"  data-target="{{ url_for('main.log_delete',type = 3, num = 1000) }}" data-tip="将要删除全部日志，确定吗？">全部</button>
                                            </div>
                                        </div>
                                        <hr/>
                                        <div class="row">
                                            <label class="col-lg-2">清空临时目录</label>
                                            <button class="btn btn-danger btn-sm J_confirm_modal" data-target="{{ url_for('main.clear') }}" data-tip="将要清空临时目录，确定吗？">清空</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </aside>
            </div>
        </div>
    </div>

</div>