<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title" id="myModalLabel">新建任务</h4>
</div>

<form class="form-horizontal J_ajaxForm" method="post" action="{{ url_for('func.newTask') }}">
    <div class="modal-body">
        <div class="form-group">
            <label class="col-sm-3 control-label">任务描述</label>
            <div class="col-sm-9">
                {{ form.name(class="form-control",required="required",placeholder="请输入任务描述",autofocus="autofocus")}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">任务类型</label>
            <div class="col-sm-9">
                {{ form.dataType(class="form-control",id="dataType",required="required") }}
            </div>
        </div>
        <div class="form-group" id="dir">
            <label class="col-sm-3 control-label">地址\目录</label>
            <div class="col-sm-9">
                {{ form.dir(class="form-control", placeholder="数据库服务器地址IP、文件路径") }}
            </div>
        </div>
        <div class="form-group" id="port">
            <label class="col-sm-3 control-label">端口号</label>
            <div class="col-sm-9">
                {{ form.port(class="form-control",placeholder="服务器端口号,如MySQL端口号3306,SMB文件共享139等") }}
            </div>
        </div>
        <div class="form-group" >
            <label class="col-sm-3 control-label">用户名</label>
            <div class="col-sm-9">
                {{ form.username(class="form-control",placeholder="没有可留空")}}
            </div>
        </div>
        <div class="form-group" >
            <label class="col-sm-3 control-label">密码</label>
            <div class="col-sm-9">
                {{ form.password(class="form-control",placeholder="没有可留空")}}
            </div>
        </div>
        <div class="form-group" id="target">
            <label class="col-sm-3 control-label">目标</label>
            <div class="col-sm-9">
                {{ form.target(class="form-control",placeholder="目标文件夹、数据库名、SMB共享的主机名")}}
            </div>
        </div>
        <div class="form-group" id="tables">
            <label class="col-sm-3 control-label">表</label>
            <div class="col-sm-9">
                {{ form.tables(class="form-control",placeholder="数据库表名称(空格分隔，全库传输请留空)SMB(共享空间名 /相对目录 文件名，可为空)")}}
            </div>
        </div>
        <div class="form-group" id="delete">
            <label class="col-sm-3 control-label">删除源文件</label>
            <div class="col-sm-9">
                {{ form.delete(id="delete",class="form-control")}}
            </div>
        </div>
        {{ form.finger(type='hidden')}}
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary J_ajaxSubmitBtn" id="submit">提交</button>
    </div>
</form>

<script>
    function chenge() {
        console.log("changed");
        var val = $("#dataType").val();
        switch (val) {
            case "mysql":
                $("#dir").children("label").text("IP地址");
                $("#target").children("label").text("数据库名");
                $("#tables").show();
                $("#tables").children("label").text("表");
                $("#delete").hide();
                break;
            case "ftp":
                $("#dir").children("label").text("服务器目录");
                $("#target").children("label").text("IP地址");
                $("#tables").hide();
                $("#delete").show();
                break;
            case "SMB":
                $("#dir").children("label").text("IP地址");
                $("#target").children("label").text("共享主机名");
                $("#tables").show();
                $("#tables").children("label").text("空间名 /目录");
                $("#delete").hide();
                break;
            case "file":
                $("#delete").hide();
        }
    }

    $(document).ready(function(){
        chenge()
    });

    $("#dataType").change(function(){
        chenge()
    });
</script>